create table template_product_name.dinosaurs
(
    id uuid not null
        constraint dinosaurs_pkey
            primary key,
    name text not null
        constraint dinosaurs_name_key
            unique
);

do $$
begin
if '${environment}' = 'dev' then
    
    -- Invoke some commands that should only be run in dev
    
end if;
end
$$;